.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
  input {
    border-radius: 5px;
    background-color: #fff;
    height: 50px;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;


    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4b4b4b;

    &:nth-child(3) {
        margin-bottom: 20px;
    }
  }
}
